mat-list {
    cursor: pointer;
}

.matCardStyle {
    min-height: 100vh;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.matCardStyle::-webkit-scrollbar {
    display: none;
}


.matDrawerStyle {
    background: #000;
    color: #FFFFFF;
}

.headerTxt {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.textFont {
    font-family: 'Q Light' !important;
    color: #FFF !important;
    font-weight: 400;
    font-size: 1.10rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.8;
}

/* on hover */
.textFont:hover {
    opacity: 1;
}

/* ACTIVE MENU ITEM */
.textFont.active {
    opacity: 1;
    font-weight: bolder;
    color: #FFF;
}

.selectedMenuStyle {
    font-weight: bold;
}

button:focus {
    outline: none
}

.searchIcon {
    position: absolute;
    height: 27px;
    width: 27px;
    float: right;
    top: 6px;
    right: 35px;
    cursor: pointer !important;
}

.logoBig {
    height: 35px;
    width: auto;
    object-fit: contain;
}

.logoSmall {
    height: 32px;
    width: auto;
    object-fit: contain;
}