.textFont {
    font-family: 'Q Regular';
    color: #FFF;
    opacity: 0.5;
    line-height: 28px;
    text-align: center;
    word-wrap: break-word;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.footer {
    height: 100px;
    background: #44423F;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
}