<div fxLayout="column">
    <div fxLayout="row" class="footer">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div (click)="routTo('/contact-us')" class="textHeader3" fxLayoutAlign="center center">Contact Us
            </div>

            <div (click)="routTo('/about-us')" class="textHeader3" fxLayoutAlign="center center">About Us
            </div>

            <div (click)="routTo('/privacy-policy')" class="textHeader3" fxLayoutAlign="center center">Privacy Policy
            </div>

            <div (click)="routTo('/terms-and-conditions')" class="textHeader3" fxLayoutAlign="center center">Terms &
                Conditions
            </div>

            <!-- Copyright -->
            <div class="textFont" style="line-height:22px;margin-top: 5px;">
                © 2025 &nbsp;&nbsp;<span style="border-right: 1px solid #FFF"></span>&nbsp;&nbsp;
                contact&#64;iadorequotes.com
            </div>

        </div>
    </div>
</div>