<div fxLayout="column" [ngStyle.xs]="{'margin-top':'13vh'}" style="margin-top:17vh;">
    <div fxLayout="row">
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex>
                    <!-- HEADER -->
                    <div fxLayout="row">
                        <div fxFlex>
                            <div class="textHeader" [ngStyle.xs]="{'font-size': '1.30rem'}"
                                fxLayoutAlign="center center" style="cursor: default;">Authors</div>
                        </div>
                    </div>

                    <!-- {{ introText }} -->

                    <!-- SEARCH -->
                    <div fxLayout="row" style="margin-top: 15px;">
                        <div fxFlex style="justify-content: center; display: flex;">
                            <input [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" type="text"
                                class="form-control" placeholder="Search Author..." style="width: 60%;"
                                [ngStyle.lt-sm]="{'width':'75%'}" [ngStyle.sm]="{'width':'75%'}">
                        </div>
                    </div>

                    <!-- LETTER FILTER -->
                    <!-- Desktop: horizontal A–Z bar -->
                    <div class="letterBar">
                        <span (click)="filterByLetter('')" [class.active]="!selectedLetter">All</span>
                        <span *ngFor="let l of alphabet" (click)="filterByLetter(l)"
                            [class.active]="selectedLetter === l">
                            {{ l }}
                        </span>
                    </div>
                    <div style="height: 10px;"></div>
                    <!-- fxHide.lt-md -->

                    <!-- CONTENT: plain grid (filtered by letter + search) -->
                    <div class="authorGrid">
                        <div class="authorCell"
                            *ngFor="let item of filteredAuthors | searchFilter: searchText; trackBy: trackByAuthorId">
                            <mat-card class="authorCard" (click)="selectedAuthor(item)">
                                <mat-card-content class="textFont">
                                    {{ item.authorName }}
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>
<!-- FOOTER -->
<app-footer *ngIf="!hideFooter && isDataLoaded"></app-footer>