.imageIcon {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    text-align: center;
    width: 64px;
    height: 64px;
}

.textHeader {
    font-family: 'Q ExBold';
    color: #5a5a5a !important;
    font-weight: bolder;
    font-size: 1.50rem;
    line-height: 33px;
    text-align: center;
    word-wrap: break-word;
}

.textFont {
    font-family: 'Q Medium';
    color: #5a5a5a;
    font-weight: 500;
    font-size: 1.10rem;
    line-height: 33px;
    text-align: center;
}

::ng-deep .mat-card-header-text {
    margin: 0px;
}