<div fxLayout="column" [ngStyle.xs]="{'margin-top':'10vh'}" style="margin-top:17vh;">
    <div fxLayout="row">
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex>
                    <!-- HEADER -->
                    <div fxLayout="row">
                        <div fxFlex>
                            <div class="textHeader" [ngStyle.xs]="{'font-size': '1.30rem'}"
                                fxLayoutAlign="center center" style="cursor: default;">Topics</div>
                        </div>
                    </div>


                    <!-- {{ introText }} -->


                    <!-- CONTENT -->
                    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="20px">
                        <div fxFlex.lt-sm="95%" fxFlex.sm="45%" fxFlex.md="30%" fxFlex.gt-md="20%"
                            *ngFor="let item of topicsList;let index=index">
                            <mat-card class="topicCard" (click)="selectedTopic(item)"
                                style="margin-top: 25px;cursor: pointer;">
                                <mat-card-content class="textFont">
                                    {{item.topicName}}
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>