<div class="container-fluid">
    <div style="height: 26px;"></div>
    <div class="row">
        <div class="col no-padding ">
            <span class="material-icons pull-right closeBtn" (click)="closeToggle()">
                close
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col" style="max-height: calc(100vh - 135px); overflow: auto;">
            <div fxLayout="row">
                <div fxFlex>
                    <div (click)="routTo('/home')" class="textHeader home" fxLayoutAlign="center center">Home</div>
                    <div (click)="routTo('/authors')" class="textHeader authors" fxLayoutAlign="center center"
                        style="margin-top:10px">Authors</div>
                    <div (click)="routTo('/topics')" class="textHeader topics" fxLayoutAlign="center center"
                        style="margin-top:10px">Topics</div>
                    <div (click)="routTo('/home')" class="textHeader topHun" fxLayoutAlign="center center"
                        style="margin-top:10px">Top 100 Qoutes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 120px;"></div>
</div>