<!-- menu.component.html (drawer content) -->
<div class="menu-root">
    <div class="menu-header">
        <span class="material-icons closeBtn" (click)="closeToggle()">close</span>
    </div>

    <div class="menu-scroll">
        <div class="menu-list">
            <div (click)="routTo('/')" class="textHeader home">Home</div>
            <div (click)="routTo('/topics')" class="textHeader topics">Topics</div>
            <div (click)="routTo('/authors')" class="textHeader authors">Authors</div>
            <!-- <div (click)="routTo('/collections')" class="textHeader topHun">🔥Trending Quotes</div> -->

            <div (click)="routTo('/privacy-policy')" class="textHeader3">Privacy Policy</div>
            <div (click)="routTo('/contact-us')" class="textHeader3">Contact Us</div>
            <div (click)="routTo('/about-us')" class="textHeader3">About Us</div>
            <div (click)="routTo('/terms-and-conditions')" class="textHeader3">Terms &amp; Conditions</div>
        </div>
    </div>

    <div class="menu-footer">
        © 2025 &nbsp;&nbsp;<span class="footer-sep"></span>&nbsp;&nbsp; contact&#64;iadorequotes.com
    </div>
</div>