<div fxLayout="column" [ngStyle.gt-sm]="{'margin-top':'13vh'}" style="margin-top:8vh;">
    <div fxLayout="row">
        <!-- FOR LEFT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
        <div fxFlex>
            <div fxLayout="row" style="margin-top: 3vh">
                <div fxFlex>
                    <div fxLayout="row">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <div class="textHeader" [ngStyle.xs]="{'font-size': '1.30rem'}" style="cursor: default;">
                                Privacy Policy
                            </div>
                        </div>
                    </div>

                    <!-- CONTENT -->
                    <div fxLayout="row" style="margin-top:5px;">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <mat-card [ngStyle.xs]="{'width': '-webkit-fill-available'}" class="cardStyle"
                                style="margin-top: 35px;">
                                <mat-card-content style="padding-top: 5px;">
                                    <img style="width: 40px;height: 25px;" src="../../../assets/images/doubleQuote.png">
                                    <p class="textFont" style="margin-top: 15px;">
                                        Welcome to <strong>iadorequotes.com</strong>. We respect your privacy and
                                        are committed to protecting any
                                        information you share with us while using this website.
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        We do <strong>not</strong> collect any personally identifiable information
                                        from visitors, unless you intentionally
                                        contact us by email. In such cases, your name and email address will only be
                                        used to respond to your request.
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        This website uses Google AdSense to display advertisements. AdSense may use
                                        cookies to serve ads based on your
                                        prior visits to this or other websites. You can choose to disable cookies in
                                        your browser settings if you prefer.
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        We do not sell, trade, or transfer your information to any third parties.
                                        All quote content shown on this website
                                        is for educational and inspirational purposes only.
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        By using <strong>iadorequotes.com</strong>, you agree to this Privacy
                                        Policy. We may update it occasionally, and
                                        any changes will be posted on this page.
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOR RIGHT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
    </div>

    <div fxLayout="row" style="margin-top: 50px;">
        <div fxFlex>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>