<div fxLayout="column" [ngStyle.gt-sm]="{'margin-top':'10vh'}" style="margin-top:8vh;">
    <div fxLayout="row">
        <!-- FOR LEFT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
        <div fxFlex>
            <div fxLayout="row" style="margin-top: 3vh">
                <div fxFlex>
                    <div fxLayout="row">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <div class="textHeader" [ngStyle.xs]="{'font-size': '1.30rem'}" style="cursor: default;">
                                {{pageH1}}
                                <!-- <i>~Quotes</i> -->
                            </div>
                        </div>
                    </div>


                    <!-- {{ introText }} -->


                    <p class="textFont" style="margin-top: 15px;">
                        {{ pageIntro }}
                    </p>


                    <!-- CONTENT -->
                    <div fxLayout="row" *ngFor="let item of qoutesList;let index=index" style="margin-top:5px;">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <mat-card [ngStyle.xs]="{'width': '-webkit-fill-available'}" class="cardStyle"
                                style="margin-top: 35px;">
                                <mat-card-content style="padding-top: 5px;">
                                    <img style="width: 40px;height: 25px;" src="../../../assets/images/doubleQuote.png">
                                    <p class="textFont" style="margin-top: 15px;">
                                        {{item.qoutes}}
                                    </p>
                                    <p (click)="item.authorId ? selectedAuthor(item) : null"
                                        class="textFont2 authorName">
                                        ~{{item.authorName}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOR RIGHT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
    </div>

    <div fxLayout="row" style="margin-top: 50px;">
        <div fxFlex>
            <mat-divider></mat-divider>
        </div>
    </div>

    <ng-container *ngIf="allLoaded">
        <!-- Related Topics -->
        <div class="textHeader2" style="margin-top:40px;text-align:center;">Related Quote Topics</div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="20px"
            *ngIf="getRelatedTopics(topicName).length > 0">
            <div fxFlex.lt-sm="95%" fxFlex.sm="45%" fxFlex.md="30%" fxFlex.gt-md="20%"
                *ngFor="let rel of getRelatedTopics(topicName); let index=index">
                <mat-card class="topicCard" (click)="router.navigate(['/topic/' + rel.id + '/' + rel.name])"
                    style="margin-top: 25px; cursor: pointer;">
                    <mat-card-content class="textFont">
                        {{ rel.name }} Quotes
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- TOPICS -->
        <app-topics [fromHome]="true"></app-topics>

        <div fxLayout="row" style="margin-top: 0px;">
            <div fxFlex>
                <mat-divider></mat-divider>
            </div>
        </div>

        <!-- AUTHORS -->
        <app-authors [fromHome]="true"></app-authors>

        <div style="height: 100px;"></div>

        <!-- FOOTER -->
        <app-footer></app-footer>
    </ng-container>
</div>