<div fxLayout="column" [ngStyle.gt-sm]="{'margin-top':'13vh'}" style="margin-top:8vh;">
    <div fxLayout="row">
        <!-- FOR LEFT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
        <div fxFlex>
            <div fxLayout="row" style="margin-top: 3vh">
                <div fxFlex>
                    <div fxLayout="row">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <div class="textHeader" [ngStyle.xs]="{'font-size': '1.30rem'}" style="cursor: default;">
                                Contact Us
                            </div>
                        </div>
                    </div>

                    <!-- CONTENT -->
                    <div fxLayout="row" style="margin-top:5px;">
                        <div fxFlex style="display: flex;justify-content: center;">
                            <mat-card [ngStyle.xs]="{'width': '-webkit-fill-available'}" class="cardStyle"
                                style="margin-top: 35px;">
                                <mat-card-content style="padding-top: 5px;">
                                    <img style="width: 40px;height: 25px;" src="../../../assets/images/doubleQuote.png">
                                    <p class="textFont" style="margin-top: 15px;">
                                        If you have any questions, suggestions, or concerns regarding this website,
                                        please contact us at:
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        <strong>Email:</strong> &nbsp;&nbsp;<strong>contact@iadorequotes.com</strong>
                                    </p>

                                    <p class="textFont" style="margin-top: 5px;">
                                        We appreciate your feedback and will respond as soon as possible.
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOR RIGHT GAP -->
        <div fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="15"></div>
    </div>

    <div fxLayout="row" style="margin-top: 50px;">
        <div fxFlex>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>